# Following is needed for heliocentric velocity corrections.
# Longitude sign is as per requirements of the correction module.
[ObservatoryInformation]
Name: SALT
Longitude: -20.810678
Latitude: -32.376006
Altitude: 1798

# Following is needed for the Rotation Curve algorithm.
[CurveParameters]
StepSize: 5
NSum: 5
UpperCut: 100
PixelScale: 0.254
SpeedLight: 3e5
